<h1>Dashboard#app</h1>

<h2>Uptime</h2>
<div id="uptime">

</div>

<h2>Biggest CPU Hog</h2>
<div id="hog"></div>

<h2>Honour Roll of Dogs</h2>
<ul id="dogsList"></ul>
<hr>

<h1>Dog Details Search</h1>
<input type="text" id="dogSearch" value="Fedor">
<button id='findDog'>Here Boy!</button>
<div id="dogSearchResults"></div>
