<h3>Put it in the Garage</h3>

<form action="<%= fastcars_path() %>" method="post">

  <label>
    Make: <input type="text" name="make">
  </label>
  <br>
  <label>
    Model: <input type="text" name="model">
  </label>
  <br>
  <label>
    Quater-mile: <input type="text" name="quatermile">
  </label>
  <br>
  <label>
    Top-Speed: <input type="text" name="topspeed">
  </label>
  <br>
  <label>
    Kilowatts: <input type="text" name="kilowatts">
  </label>
  <br>
  <label>
    Image URL: <input type="text" name="image">
  </label>
  <br>
  <button>Park Your Car</button>

</form>
